Ejercicio4/bin/Debug/Ejercicio4.exe
Ejercicio4/bin/Debug/Ejercicio4.exe.config
Ejercicio4/bin/Debug/Ejercicio4.pdb
Ejercicio4/bin/Debug/Ejercicio4.vshost.exe
Ejercicio4/bin/Debug/Ejercicio4.vshost.exe.config
Ejercicio4/bin/Debug/Ejercicio4.vshost.exe.manifest
Ejercicio4/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Ejercicio4/obj/Debug/Ejercicio4.csproj.FileListAbsolute.txt
Ejercicio4/obj/Debug/Ejercicio4.csprojResolveAssemblyReference.cache
Ejercicio4/obj/Debug/Ejercicio4.exe
Ejercicio4/obj/Debug/Ejercicio4.pdb
Ejercicio4/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Ejercicio4/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Ejercicio4/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
